.imageCanvas {
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 5px;
}

body {
    text-align: center;
    background-color: gray;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
}

#statusText {
    display: inline-block;
    margin-left: 10px;
}

.fileInput {
    margin-top: 50px;
    margin-bottom: 5px;
}

#resultCanvas {
    margin-top: 50px;
}

#downloadVideoHref {
    display: block;
}

.fileInput::file-selector-button {
    color: white;
    background-color: black;
    border-radius: 5px;
}

#videoSlider {
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    accent-color: black;
}

#videoSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#videoSlider::-moz-range-thumb {
    cursor: pointer;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#videoPlayer {
    width: 500px;
    height: 500px;
}

.videoData {
    position: absolute;
    left: 50%;
}

.videoDataLabel {
    position: absolute;
    right: 50%;
}

#videoDataContainer {
    margin-top: 50px;
}
